@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.titleDiv{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
} */